{% extends "page.html" %}

{% block content %}
  <h2>What is the NERC Vocabulary Server (NVS)?</h2>
  <p>The NVS is a service providing access to centrally managed and uniquely identified lists of terms for annotating data in the marine and related earth science domains. It is managed by the British Oceanographic Data Centre (BODC) at the National Oceanography Centre (NOC). It is funded by the UK Research and Innovation Natural Environment Research Council (UKRI-NERC) as part of its Environmental Data Services (EDS) national capabilities, with additional funding from European projects. Standardised controlled vocabularies are used by data creators, data managers, and tool developers for indexing, annotating, and searching for data, enabling greater interoperability and reuse.</p>
  <h2>Vocabularies and Thesauri</h2>
  <p>The NVS uses the <a href="https://www.w3.org/">W3C</a>'s <a href="https://www.w3.org/2004/02/skos/">SKOS</a> to represent knowledge for computer interpretation.</p>
  <p>In the NVS, each vocabulary is a SKOS collection (e.g. <a href="https://vocab.nerc.ac.uk/collection/L22/current/">https://vocab.nerc.ac.uk/collection/L22/current/</a>) that has many terms that are SKOS concepts (e.g. <a href="https://vocab.nerc.ac.uk/collection/L22/current/TOOL1248/">https://vocab.nerc.ac.uk/collection/L22/current/TOOL1248/</a>).</p>
  <p>Concept schemes aggregate concepts from different vocabularies. An example of a concept scheme is the <a href="https://vocab.nerc.ac.uk/scheme/SDNDEV/current/">SeaDataNet Device Thesaurus</a>.</p>
  <h2>Find vocabularies</h2>
  <p>We have several tools for querying existing vocabulary collections:</p>
  <ul>
    <li><b><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/">NVS Vocab Search</a></b>: Searches entire NVS content (options to search for terms in a given collection, in any collection, search for entire collections, or explore mappings)</li>
    <li><b><a href="https://vocab.seadatanet.org/search">SeaDataNet Search</a></b>: Focuses on collections used by SeaDataNet</li>
    <li><b><a href="https://vocab.seadatanet.org/p01-facet-search">SDN Facet search</a></b>: Searches <a href="https://www.bodc.ac.uk/resources/vocabularies/parameter_codes/">P01</a> codes with filters</li>
    <li><b><a href="https://vocab.seadatanet.org/v_bodc_vocab_v2/vocab_relations.asp?lib=P08">SDN parameter discovery</a></b>: Displays relationships among collections</li>
    <li><b><a href="http://vocab.nerc.ac.uk/nvs_atom.xml">NVS Feed</a></b>: Provides updates on concept collections</li>
    <li><b>NVS LDES Feed</b>: Publishes latest concept changes in Turtle format. Concept updates will typically be accessible post 11:00 AM GMT. There is one feed per collection and can be accessed using the following url structure
        <p><a href="http://vocab.nerc.ac.uk/ldes/%7Bcollection%7D/">http://vocab.nerc.ac.uk/ldes/{collection}/</a> for example <a href="http://vocab.nerc.ac.uk/ldes/P02/">http://vocab.nerc.ac.uk/ldes/P02/</a></p>
    </li>
  </ul>
  <p>The NVS can also be accessed through the following services:</p>
  <ul>
    <li><a href="http://vocab.nerc.ac.uk/sparql/">SPARQL</a></li>
    <li><a href="http://vocab.nerc.ac.uk/vocab2.wsdl">SOAP</a></li>
    <li><a href="https://vocab.nerc.ac.uk/doc/api">RESTful APIs</a></li>
  </ul>
  <p>You can access NVS collections, concepts, and schemes as RDF in different serialisations (e.g., RDF/XML, Turtle, or JSON) using content negotiation.</p>
  <p>Use the appropriate header to automatically access RDF as shown below:</p>
  <ul>
    <li>Accept: application/rdf+xml to access NVS as RDF/XML e.g.<br>
      <code>curl -L -H "Accept: application/rdf+xml" "http://vocab.nerc.ac.uk/collection/L22/current"</code>
    </li>
    <li>Accept: text/turtle</li>
    <li>Accept: application/ld+json</li>
    <li>Accept: application/json</li>
  </ul>
  <h2>Collection Versioning in NVS</h2>
  <p>
  Each NVS collection is versioned and the version identifier is recorded using the <code>owl:versionInfo</code> property. While only the current version is exposed via the user interface, all historical versions remain resolvable via persistent URLs. To access a specific version, replace <code>/current/</code> in the collection URI with the required numeric version identifier (e.g. <code>/3/</code>).
  Example: <a href="http://vocab.nerc.ac.uk/collection/L05/3/">https://vocab.nerc.ac.uk/collection/L05/3/</a>
Opening a link to a specific version of a collection, will return the RDF/XML serialisation directly.
  </p>
  <h2>Submit new/edit existing vocabularies</h2>
  <p>If you are unable to find a term matching your requirements in an existing collection, new terms can be submitted via our Git repositories. These can be found by substituting {TN} with the collection identifier in the following URL <a href="https://github.com/nvs-vocabs/{TN}/issues">https://github.com/nvs-vocabs/{TN}/issues</a>, for example <a href="https://github.com/nvs-vocabs/L22/issues">https://github.com/nvs-vocabs/L22/issues</a>. Alternatively, this <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-ZTKJZmNT5FmyPRFsPsNt2hpB_gb6MAmm7Zp-7GSMpn5NFA/viewform?entry.1396013310">Google Form</a> can be used to automatically submit Git tickets for new term requests for various collections.</p>
  <p>Some collections have external governance structures, so new terms may need to be forwarded to a particular community for approval before they can be added to the collection, therefore we advise making requests for new terms as soon as is practicable. The Team responsible for creating and curating controlled vocabularies will advise on how the term should be modelled, and discussion for this is typically carried out on the Git ticket.</p>
  <p>Alternatively, requests can be sent via email to the <a href="mailto:vocab.services@bodc.ac.uk">Vocabulary Team</a>.</p>
  <p>New terms can also be submitted for approval to be included in the Parameter Usage Vocabulary (PUV) collection, P01, through the Vocab Builder tool:</p>
  <ul>
    <li><b><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_builder/">BODC Vocab Builder</a></b>: Searches and submits P01 codes</li>
  </ul>
  <p>The Vocab Editor tool can be used by external governance groups to add or amend existing terms and mappings related to collections under their governance:</p>
  <ul>
    <li><b><a href="http://vocab.nerc.ac.uk/editor/">Vocab Editor</a></b>: Allows authorised vocabulary management</li>
  </ul>
  <p>Further help and guidance can be found in our guides resources <a href="https://github.com/nvs-vocabs/Guides-and-Resources">repository</a>.</p>
  {% include 'alt_link.html' %}
{% endblock %}
