
    <a href="/">NVS Home</a> |
    <a href="/collection/">Vocabularies</a> |
    <a href="/scheme/">Thesauri</a> |
    <a href="/search_nvs/">Search NVS</a> |
    <a href="/sparql">SPARQL</a> |
    <div class="dropdown">
      <a>Other Tools</a>
      <div class="dropdown-child">
        <a href="/editor/">Vocab Editor</a>
        <a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_builder/" target="_blank">Vocab Builder</a>
        <a href="https://vocab.seadatanet.org/p01-facet-search" target="_blank">P01 Facet Search</a>
        <a href="https://vocab.seadatanet.org/search" target="_blank">SeaDataNet Search UI</a>
        <a href="https://semantics.bodc.ac.uk/" target="_blank" title="Explore term matches and mappings using the Semantic Analyser">Semantic Analyser</a>
      </div>
    </div> |
    <a href="/about">About NVS</a>
